<%= provide(:title , "Home") %>
<div id="right">
    <ul id="share">
    	<li><a class="button button-normal button-large" href="#"><i class="icon-twitter"></i>twitter</a></li>
        <li><a class="button button-normal button-large" href="#"><i class="icon-facebook"></i>facebook</a></li>
    </ul>
    <div class="side-box">
    	<div class="side-heading"><span>check this out</span></div>
        <ol>
            <li><div><a href="#">Other link 1</a></div></li>
            <li ><div><a href="#">Other link 1</a></div></li>
            <li ><div><a href="#">Other link 1</a></div></li>
            <li class="last-item"><div><a href="#">Other link 1</a></div></li>
        </ol>
    </div>
</div>

<div id="left">
	<%= render partial: 'blogs/blog', collection: Blog.published_blogs %>
</div>


