<html>
<body>
<p>Hi <%= @user.firstname %>,</p>

<p>Welcome to <%= Baamv::Application.config.appname %>. Please verify your account by clicking the link below</p>

<p><%= link_to "Click here" , @url %></p>

<p>Thank you </p>
</body>
</html>

