<html>
<body>
<p>Hi <%= @user.firstname %>,</p>

<p>Welcome to <%= APPNAME %>. Please verify your account by clicking the link below</p>

<p><%= link_to "Click here" ,:port => 3000 , :protocol => 'http', :only_path => false, :controller => "users", :action => "verify", :key => @user.verify_key %></p>

<p>Thank you </p>
</body>
</html>

