<% provide(:title,"Account verification") %>
<div id="user-verified" class="div-basic">
<h2 class="depth-line-bottom"> Account Verification </h2>
<h3>Your account has been verified. Please login to use your account<h3>
<%= link_to "Login" , root_path ,{:class=>"button button-normal button-medium"}%>
</div>
<div id="stretch-div"></div>