<% if object.errors.any? %>
   <div id="error_details">
   	  <div>
   	  	 Please fix the below <%= pluralize(object.errors.count,"error") =%>
   	  </div>
   	  <ul>
   	  	 <% object.errors.full_messages.each do |msg|%>
   	  	 <li>- <%= msg %></li>
   	  	 <% end %>
   	  </ul>
   </div>
<% end %>