

@import "util";

@import "compass/css3/border-radius";


//body{
//	background-color:#F2F2F2;
//	@include white-3d-radial;
//}

.red-line
{
   min-height:4px;
   background-color:$red;
}

#nav-bar { 
    @include  black-matte; 
	@include size(100%,50px);
	@include shadow(0,-3,10,0.75);
	position:relative;
}

#container{
	@include border-rounded(5);
	margin:10px 50px 20px 50px;

}

#main{
    float:left;
	margin-top:5px;
	@include border-rounded(4);
	width:100%;
}

.alert{
	@include border-rounded(4);
	@include single-text-shadow;
	border-style:solid;
	border-width:1px;
	margin:10px 0 10px 0;
	padding : 10px 10px 10px 10px;
}

.alert-success{
	background-color: $green-light;
	color:$green-dark;
	
}

.alert-notice,.alert-info{
   background-color: $blue-light;	
   color:$blue-dark;
}

.alert-error,.alert-danger{
	background-color: $red-light;
	color:$red-dark;
}

.alert-warn{
	background-color: $orange-light;
	color:$orange-dark;
}


#izmenu
{
    float:right;
    border:1px solid #A09D9D;
    @include border-radius(4px, 4px);

    ul
    {
        margin:0 0 0 0;
        padding:0 0 0 0;
	    list-style:none;

    }
    li
	{
	       padding:0 0 0 0;
           margin:0 0 0 0;
           border-right:1px solid #A09D9D;
           min-width:125px;
	}

	a 
	{
	    	background-color:$blue;
	    	text-decoration:none;
	    	padding: 10px 15px 10px 15px;
	    	display: block;
	    	text-align:center;
	    	color:$white;
	    	margin:0 0 0 0;
	}

	a:hover
	{
	    background-color:$white;
	    color:$blue;

	}

    > ul
    {
        float:left;

        .last-item
        {
            border-right:none;
        }
        
	    > li
	    {
	      float:left;
	      display:inline-block;
	      position:relative;
	      .popup-menu
		   {
		        border:1px solid #A09D9D;
	   			position:absolute;
	   			display:none;
	   			z-index:10;
	   			@include border-radius(4px, 4px);
	   			//@include border-rounded(4);
	   			li
	   			{
	   			     border-right:none;
	   			     border-bottom:1px solid #A09D9D;
	   			}
	   			.last-item
	   			{
	   				border-bottom:none;
	   			}
		   }
	    }
    }
}



#left{
     
     overflow:hidden;
     border:1px solid #cccccc;

     p 
     {
       padding:10px 10px 10px 10px;
     }
	
}


#right
{
	float:right;
	width:350px;
	padding-left: 20px;
}

#share
{
    margin:0px;
    padding:0px;
    list-style:none;
	li
	{
	    display:inline-block;
	}		
}


.banner
{
	border:1px solid #cccccc;	
	background:#F2F2F2;
	padding-top:40px;
	padding-bottom:40px;
	padding-left:40px;
	h1
	{
	     margin:0px;
	}
	h4{
	     margin:0px;
	}
	h5{
	     margin:0px;
	}
	i
	{
	    margin:2px;
		font-size:.7em;
		color:#969696;
	}
}



.button
{
	@include border-rounded(4);
	white-space: nowrap;
	cursor:pointer;
	display:inline-block;
	color:white;
	@include shadow-inner(0,-3,10,0.20);
	text-shadow:0 1px 0 rgba(0,0,0,0.35);
	text-decoration:none;
	vertical-align:middle;
	outline:none;
	&:hover
	{
	   color:#ffffff;
	}
}



.button-small{
    padding:5px 5px 5px 5px;
	font-size:5em;
}

.button-medium{
    padding:7px 7px 7px 7px;
	font-size:.9em;
}

.button-large{
    padding:10px 10px 10px 10px;
	font-size:1.2em;
}


.button-normal
{
	background-color:$blue;
	border:1px solid $blue;
	&:hover{
		background-color:#2E7799;
	}
}


.footer { 
    @include  black-matte; 
	@include size(100%,100%);
	@include shadow(0,-3,10,0.40);
    height:400px;
    margin-top:20px;
}

.side-box{
    border:1px solid #A09D9D;
    margin-top:3.5em;
	background:#E0E0E0;
	position:relative;
	ol
	{
	   list-style:none;
	   margin-left:0px;
	   margin-top:0px;
	   margin-bottom:0px;
	   padding:0;
	   li
	   {
	      //margin-top:3px;
	      border-bottom:1px solid #666464;
	      padding-left:5px;

	      div
	      {
	          padding: 3px;
	          background:#E0E0E0;
	      }
	   }

	   .last-item
	   {
	      border-bottom:none;
	   }
	}



	a
	{
	   text-decoration:none;
	   color:$blue;
	   line-height:2.5em;
	}
}

.side-heading{
	background:$black1;
	display:inline-block;
	color:#ffffff;
	line-height:2.5em;
	padding-left:10px;
	padding-right:10px;
	position:absolute;
	top:-2.5em;
	left:-1px;
	@include border-rounded-top(3);
	@include shadow-inner(0,-3,10,0.20);
}


.highlight-active
{
   
	background:$purplishred;
}


.attachements{
    margin-left:10px;
    margin-right:10px;
    border-top:1px solid #cccccc;
    h3
    {
       padding:0px 10px 0px 10px; 
       color:$black;
       margin:0px;

    }
    ul{

       padding:0px 10px 0 10px;
       list-style:none;
       
       li
       {
          margin:0px;
       }
    }
    
	a
	{
	     text-decoration:none;
	}
}

.images{
    margin-top:10px;
    margin-left:10px;
    margin-bottom:10px;
    margin-right:10px;
    border-top:1px solid #cccccc;
    h3
    {
       padding:0px 10px 0px 10px;
       color:$black;
       margin:0px;
    }
    ul{

       padding:0px 10px 0 10px;
       list-style:none;

       li
       {
          margin:0px;
          display:inline-block;
          padding-right:10px;
       }
    }
    
	a
	{
	     text-decoration:none;
	}

	a:hover
	{
	   img 
	   {
	       	@include shadow(0,0,10,0.40);
	   }
	}
	img
	{
	   height:100px;
	   width:100px;
	   border:1px solid #A09D9D;
	}
    

}

#footer-content
{
     padding-top:30px;
	 width:860px;
	 margin-left:auto;
	 margin-right:auto;
	 color:$white;
	 ul
	 {
	     vertical-align:top;
	     list-style:none;
	     margin:0px;
	     display:inline-block;
	     border-right:1px solid $white;
	     padding-left:10px;
	     
	 }

	 li
	 {
	   padding-right:70px;
	 }

	 div
	 {
	     display: inline-block;

	 }
	 .footer-last
	 {
	    border:none;
	 }

}

.ico
{
	border:1px solid $white;
	@include border-rounded(4);
	display:inline-block;
	@include shadow-inner(0,-3,10,0.20);
	text-shadow:0 1px 0 rgba(0,0,0,0.35);
	text-decoration:none;
	color:white;
	width:36px;
	text-align:center;
	i:before
	{
		margin-right:auto;
		margin-left:auto;
		display:inline-block;
	}
	
}

.div-basic{
   border:1px solid #cccccc;	
  background:#F2F2F2;	
}

.help-block{
	color:#595959;
	font-size:.8em;
}


a{
   outline: 0;
}

input::-moz-focus-inner { 
  border: 0; 
}

*:focus{
	outline:0;
}


fieldset{

	border:none;
	margin:5px 0px 5px 0px;
	padding:2px 0px 2px 0px;

	*{
	    margin-top:7px;
	    margin-bottom:7px;
	}

}

textarea,input[type=text],input[type=password]{
	
	@include border-radius(5px);
	border: 1px solid #999;
	display:block;
	@include single-box-shadow($black, 0px, 0px, 3px, false, true);
	
}

input[type=text],input[type=password]{
	font-size:1.2em;
	padding-left:8px;
	padding-right:8px;
}

select:focus,input[type=password]:focus,input[type=text]:focus{
	@include single-box-shadow($purplishred,0px ,0px,5px,false,false);
}

select,option{
	background:#ffffff;
	@include border-radius(5px);
	font-size:1.2em;
}



// All other controllers scss partials
@import "session";
@import "user";