// Login or Session controller

#login-box{
	 
	 border:1px solid #cccccc;	
	 background:#F2F2F2;
	 padding:15px 40px 15px 40px;
	 margin-right:auto;
	 margin-left:auto;
	 display:block;
	 width:350px;
	 margin-top:50px;
}

