<div id="baamvmodal">

  <div id="baamvdialog" class="bwindow">
    <a class="close pull-right img-rounded" href="#" style="left:955px; position:absolute; background-color:white; margin-top:-10px; padding-left:1px; padding-right:2px;"><i class="icon-remove"></i></a>
    <img id="image-id"></img>
  </div>
  
</div>