<div class="footer">
	<div id="footer-content">
    	<ul>
        	<li> About Us </li>
            <li> Help </li>
          	<li> Privacy </li>
        </ul>
        <ul>
        	<li> FAQ </li>
        	<li> Contant Us </li>
        	<li> Terms and Conditions </li>
        </ul>
        <ul class="footer-last">
        	 <li>Social</li>
          	<li style="padding-top:5px;"><a class="ico" href="#"><i class="fa fa-twitter fa-2x"></i></a> <a class="ico" href="#"><i class="fa fa-facebook fa-2x"></i></a></li>
        </ul>
    </div>
 </div>