<div class="header well" style="height:40px">
	<div class="container">
		<div class="row">
			<div class="span3 offset1">
				<%= link_to "Contact Us", contact_path%>
			</div>
		</div>
		<div class="row">
			<div class="span3 offset1">
				<%= link_to "Help", help_path%>
			</div>
		</div>
	</div>

</div>