  <div class="navbar navbar-fixed-top">
       <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="">I am Zero</a>
                <ul class="nav pull-right">
                   <li><%= link_to "Home" , root_path %></li>
                   <li class="active"> <%= link_to "Login",new_user_path %></li>
                   <li><%= link_to "Contact Us", contact_path%></li>
                   <li><%= link_to "help", help_path%></li>
               </ul>
           </div>
       </div>
    </div>